[submodule "Deep Learning/fast-style-transfer"]
	path = Deep.Learning/fast-style-transfer
	url = git@github.com:lengstrom/fast-style-transfer.git
[submodule "Deep Learning/DeepLearningFlappyBird"]
	path = Deep.Learning/DeepLearningFlappyBird
	url = https://github.com/yenchenlin/DeepLearningFlappyBird.git
[submodule "Deep Learning/deep-learning"]
	path = Deep.Learning/deep-learning
	url = https://github.com/udacity/deep-learning.git
[submodule "Deep Learning/aind2-cnn"]
	path = Deep.Learning/aind2-cnn
	url = https://github.com/udacity/aind2-cnn.git
[submodule "Deep.Learning/3.Convulutional-Networks/6.Transfer-Learning-in-Tensorflow/tensorflow_vgg"]
	path = Deep.Learning/3.Convulutional-Networks/6.Transfer-Learning-in-Tensorflow/tensorflow_vgg
	url = https://github.com/machrisaa/tensorflow-vgg.git
[submodule "Deep.Learning/3.Convulutional-Networks/7.Dog-Breed-Classifier/dog-project"]
	path = Deep.Learning/3.Convulutional-Networks/7.Dog-Breed-Classifier/dog-project
	url = https://github.com/udacity/dog-project
